
<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Stocks</span>
    </div>
  </nav>
  
  <h1 style="text-align: center;">The easiest way to buy and sell stocks</h1>
  
  
  <div class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search" [(ngModel)]="searchTerm">
  <div class="input-button">
    <button type="button" class="btn btn-outline-secondary fa fa-search" (click)="search()"></button>
  
  </div>
    </div>
  </div>